p {
    font-size: 30px;
}

.thermostat{
    margin: 5px;
}

#Heating{
    background-color: rgb(222, 104, 100);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 30px solid gray;
}

#Cooling{
    background-color: rgb(58,141,241);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 30px solid gray;
}

#Fan{
    background-color: lightgray;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 30px solid gray;
}